* {
    margin: 0;

    /* font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif; */
}

body {

    font-family: 'Google Sans Flex', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(252, 248, 248);
    background-color: white;
    /* flex-direction: row; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* position: relative; */
}


.logo img {
    /* margin: auto; */
    width: 100%;
    height: 50px;
    /* margin-right: 50px !; */
    margin: 0;
}

.nav-links {
    /* border: 1px solid black; */
    display: flex;
    gap: 40px;
    /* width: 600px; */
    padding-left: 30px;
    margin-right: auto;
    margin-left: 45px;
    font-weight: 550;
    /* position: relative; */
}

.nav-links a {
    text-decoration: none;
    color: #6f7274;
    font-size: 14px;
}

.nav-item a {
    text-decoration: none;
    color: #6f7274;
    font-size: 14px;
}

.nav-item a:hover {
    color: black;
}

.dropdown {
    background-color: white;
    position: absolute;
    right: 0;
    top: 40px;
    right: 0;

    padding: 32px 40px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    border-top: 1px solid black;
    z-index: 999;
}

.column h3 {
    font-size: 14px;
    font-weight: 700;
    color: #202124;
    margin-bottom: 8px;
}

.column>span {
    display: block;
    font-size: 13px;
    color: #6f7274;
    margin-bottom: 12px;
    line-height: 1.4;
}

.column a {
    display: block;
    margin: 8px 0;
    text-decoration: none;
    color: black;
    font-size: 13px;

}

.nav-item:hover .dropdown {
    display: grid;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.nav-links a:hover {
    color: black;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;

}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    padding: 5px 12px;
    /* border: 1px solid black; */
    border-radius: 20px;
}

.search {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.shortcut {
    color: #70757a;
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 0 5px;
    font-size: 11px;
}

.select {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: green; */
    border: 1px solid rgb(217, 214, 214);
    padding: 5px;
    width: 100px;
    font-weight: 900;
}

/* Theme, Select, and Sign-in */
.sign-in {
    color: #212830;
    text-decoration: none;
}

#language {
    /* color: #5f6368; Dark gray for the select dropdown */
    padding-bottom: 2px;
    border: none;
    background: none;
    font-size: 14px;
    color: #5f6368;

    /* text-decoration: none; */
}

.signin-link {
    color: #1a73e8;
    /* Blue sign-in color */
    font-weight: 500;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    margin-right: 15px;
}

.hamburger span {
    width: 20px;
    height: 2px;
    background-color: #3c3043;
}



.nav2 {
    background-color: rgb(26, 115, 232);
    color: white;
    padding: 30px;
}

.nav3 {
    background-color: rgb(232, 240, 255);
    color: rgb(57, 61, 179);
    padding: 30px;
}

.nav3 a {
    color: rgb(57, 61, 179);

}

.intro {
    display: flex;
    flex-direction: row;
    /* padding: 60px 110px; */
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.intro-text {
    width: 50%;
    margin-left: 30px;
    /* padding-top: 60px ;*/
    padding-left: 110px;
    justify-content: center;
    align-content: center;
    flex: 1;
    /* padding: 30px; */
}

.intro-text h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 50px;
    font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;

    /* font-size: 64px; */
}

.intro-text p {
    max-width: 800px;
    font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
    font-size: 20px;
    /* font-weight: 300; */
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(32, 33, 36);
}

.intro-img {
    flex: 1;
    padding-top: 60px;
    width: 500px;
    padding-right: 95px;
    padding-left: 80px;

}

.intro-img img {
    width: 550px;
    height: auto;
}

.nav-card {
    display: flex;
    gap: 30px;
    padding: 90px 137px;
    justify-content: center;
    align-items: center;

}

.nav-card .card {
    max-width: 294px;
    height: 635px;
    /* height: auto; */
    flex: 1;
    border: 1px solid rgb(217, 214, 214);
    border-radius: 8px;
    padding: 20px;
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: rgb(245, 246, 247);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-card .card img {
    width: 100%;
    height: auto;
    /* padding-right: 25px;
     padding-left: 25px; */
    margin-bottom: 20px;
    border-radius: 30px;
}

.nav-card .card span {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0;
    /* margin-bottom: 400px; */
}

.nav-card .card span a {
    font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
    color: rgb(45, 48, 57);
    font-size: 32px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 500;
}

.nav-card .card span a:hover {
    text-decoration: underline;
}

.nav-card .card p {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    line-height: 27px;
}

.lin,
.explore-cards .exp-card .links {
    margin-top: 90px;
    text-decoration: none;
    border: 2px solid rgb(25, 90, 189);
    padding: 13px 40px;
    color: rgb(25, 90, 189);
    border-radius: 50px;
    font-weight: 500;
    transition: border-color 0.9s ease-in-out;
}

.lin:hover,
.main-base span a:hover {
    border: transparent;

}

.explore-cards .exp-card .links:hover {
    border: transparent;
}

.lin a {
    text-decoration: none;
    color: rgb(25, 90, 189);
}

.Api {
    height: 500px;
    display: block;
    padding-bottom: 120px;
    /* border: #1a73e8 solid 1px; */
    padding: 10px;
    flex: 1;
    text-align: center;
}

.nav-card .Api a {
    font-size: 20px;
    text-decoration: none;
    line-height: 40px;
    color: black;
    margin-bottom: 30px;
    /* justify-content: center;
   align-items: center; */
    display: flex;
    text-align: center;
}

.Api a:hover {
    text-decoration: underline;
}

.nav-card .Api p {
    line-height: 30px;
    color: #242528;
}

.explore {
    padding: 40px 140px;
    background-color: #edf0f3;
    /* display: flex; */
}

.exp-start {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.exp-start h1 {
    font-size: 50px;
}

.exp-start a {
    color: rgb(25, 90, 189);
    text-decoration: none;
    border: 1px solid rgb(25, 90, 189);
    border-radius: 40px;
    padding: 15px 35px;
    padding-top: 18px;

}

.explore p {
    max-width: 800px;
    line-height: 30px;
}

.explore-cards {
    display: flex;
    padding: 60px 50px;
    gap: 30px;
}

.exp-card {
    border-radius: 30px;
    width: 397px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 10px;
}

.learning-img {
    /* width: 50px; */
    background-color: #edf0f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}

.learning-img i {
    background-color: blue;
}

.explore-cards .exp-card span {
    font-size: 18px;
    margin-bottom: 40px;
}

/* .explore-cards .exp-card .links, */
.learn-cards .lrn-card .links {
    text-decoration: none;
    border: 1px solid rgb(25, 90, 189);
    border-radius: 40px;
    padding: 10px 35px;
    margin: 40px;
    transition: color 0.2s ease, border-color 0.3s ease;
}

.learn-cards .lrn-card .links:hover {
    background-color: #380aee;

    border-color: transparent;
}

.learn-cards .lrn-card .links a:hover {
    color: white !important;
}

.explore-cards .exp-card a,
.learn-cards .lrn-card .links a {
    text-decoration: none;
    color: rgb(25, 90, 189);
}

.learn-cards {
    display: flex;
    display: flex;
    padding: 60px 50px;
    gap: 30px;
}

.lrn-card {
    border-radius: 30px;
    width: 400px;
    background-color: rgb(245, 246, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 40px;
}

.learning-imges {
    width: 85%;
}

.learning-imges img {
    width: 100%;
}

.crs {
    padding-top: 30px;
    color: rgb(14, 14, 125);
    margin-right: auto;
    font-size: 11px;
    font-weight: bold;
}

.learn-cards .lrn-card span {
    font-size: 30px;
    padding: 20px;
}

.devt-news {
    background-color: rgb(245, 246, 247);
    padding: 40px 140px;
    display: flex;
    gap: 40px;
    /* flex-direction: row; */
}


.devt-news span {
    font-weight: 500;
    line-height: 40px;
    font: 32px sans-serif;
    color: rgb(1, 4, 13);
    justify-content: start;
}

.p-img {
    width: 900px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.pp-img {
    /* flex :1; */
    margin-top: 0px;
    width: 300px;
}

.pp-img img {
    width: 100%;
}

.p-img p {
    padding: 30px 0px;
    flex: 2;
    line-height: 30px;
}

.p-img a {
    /* justify-content: center;
    text-align: center;
    align-items: center; */
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid rgb(25, 90, 189);
    color: rgb(25, 90, 189);
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 40px;

}

.baseline {
    display: flex;
    padding: 60px 140px;
    gap: 20px;
}

.baseline a {
    text-decoration: none;
}

.main-base {
    flex: 1;
    display: block;
}

.main-base h1 {
    padding-bottom: 20px;
}

.main-base p {
    font-size: 20px;
    line-height: 30px;
}

.main-base span {
    align-items: center;

    margin-bottom: 30px;
    margin: auto;
    display: flex;
}

.main-base span a {
    display: block;
    width: fit-content;
    margin: 20px 20px;
    border: 2px solid rgb(25, 90, 189);
    color: rgb(25, 90, 189);
    padding: 15px 45px;
    text-decoration: none;
    border-radius: 40px;
    font: optional;
    transition: border-color 0.9s ease-in-out;
}

.feb-base {
    flex: 1;

}

.feb-base a {
    color: black;
    font-size: 20px;
}

.feb-base p {
    padding: 25px 0;
    line-height: 25px;
    color: ;
}

.jan-base {
    flex: 1;
}

.newsletter {
    background-color: rgb(245, 246, 247);
    /* max-width: 800px; */


}

.fas {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    padding: 60px 40px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-size: 0.85rem;
    color: #70757a;
    margin-bottom: 2px;
}

input,
select {
    padding: 12px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    background-color: white;
    font-size: 1rem;
}

.disclaimer {
    text-align: left;
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 30px 0;
}

.checkbox-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkbox-group label {
    font-size: 1rem;
    color: #3c4043;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.captcha-box {
    border: 1px solid #d3d3d3;
    background: #f9f9f9;
    width: 300px;
    padding: 15px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
}

.submit-btn {
    background: white;
    border: 1px solid #dadce0;
    color: #1a73e8;
    padding: 10px 24px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}





/* bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb */

@media (max-width: 840px) {
    .hamburger {
        display: flex;
        /* Show hamburger on left */
    }

    body {
        /* overflow:hidden; */
    }

    .nav-links,
    .search input,
    .select {
        display: none;
        /* Hide text-heavy elements */
    }

    .search {
        display: none;
    }

    /* .search-box {
       /* display: none; Hide search box entirely on small screens */
    /* background: transparent; Remove grey background for icon-only look */
    .search-trigger {
        display: block;
        /* Show search icon */
        font-size: 20px;
        color: #5f6368;
    }

    nav {
        justify-content: flex-start;
        padding: 10px 10px;
    }

    .nav-right {
        margin-left: auto;
        /* Pushes Search, Sun, and Sign-in to the far right */
        gap: 20px;
    }

    .logo img {
        width: 100%;
        height: 50px;
    }

    .nav2 {
        font-size: 15px;
    }

    .nav3 {
        font-size: 13px;
    }

    .intro {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    .intro-img {
        width: 100%;
        padding: 0;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .intro-img img {
        width: 300px;
        height: auto;
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 50px;
    }

    .intro-text {
        width: 100%;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 20px;
        padding-right: 20px;

        margin: 0;
        box-sizing: border-box;
    }

    .intro-text h1 {
        font-size: 60px;
        line-height: 60px;
        font-weight: 790;
        letter-spacing: 0.1px;
        margin-bottom: 30px;
        word-wrap: break-word;
    }

    .intro-text p {
        font-size: 19px;
        line-height: 150%;
        color: rgb(84, 85, 89);
        margin: 0;
    }

    .nav-card {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 30px;
        /* border: 1px solid blue ; */
        justify-content: center;
        text-align: center;
    }

    .Api a {
        padding: 40px;
        margin-bottom: 0px;

    }

    .nav-card .card .lin {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .explore {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .explore p {
        padding: 10px;
        /* justify-content:justify ; */
    }

    .exp-start {
        padding: 0 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .exp-start a {
        width: 50%;
        left: 0;
        padding: 10px;
        background-color: white;
        margin-bottom: 15px;
    }

    .explore-cards {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .exp-card {
        box-sizing: border-box;
        width: auto;
        /* padding: 0%; */
    }

    .explore {
        /* display: flex;
    flex-direction: column; */
    }

    .learn-cards {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .lrn-card {
        width: auto;
    }

    .devt-news {
        padding: 15px;
        display: flex;
        flex-direction: column-reverse;
        /* box-sizing: border-box; */
        width: auto;
    }

    .p-img {
        display: flex;
        flex-direction: column;
        width: 90%;
        line-height: normal;
    }

    .p-img span {
        font-size: 35px;
        font-weight: bolder;
    }

    .pp-img {
        display: block;
        width: auto;
    }

    .baseline {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    }

    .main-base p,
    .feb-base p,
    .baseline h1 {
        line-height: 30px;
    }

    .baseline .main-base span a {
        background-color: white;

    }

    .feb-base a {
        line-height: 30px;
    }

    .row {
        flex-direction: column;
    }

    .fas {
        padding: 1px auto;
        ma
    }

}